import React from 'react';

import { cn } from '@/lib/utils';

interface {{pascalCase name}}Props {
  children?: React.ReactNode;
  className?: string;
}

/**
 * {{pascalCase name}} {{type}} component
 * 
 * @param children - The content to render inside the component
 * @param className - Additional CSS classes to apply
 */
export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({
  children,
  className,
  ...props
}) => {
  return (
    <div
      className={cn(
        // Add your base styles here
        '',
        className
      )}
      {...props}
    >
      {children}
    </div>
  );
};

{{pascalCase name}}.displayName = '{{pascalCase name}}';

export default {{pascalCase name}};
